**/build
**/dist

# repo
/baseline/JMPpkg

# tmp file
**/spbnet.egg-info
**/.pytest_cache
**/.DS_Store
**/__pycache__
**/*tmp
**/*.tmp.py
**/bak

# data
/demo
**/data
**/ckpt
**/weights

# logs
**/*_logs
**/logs
**/pred
baseline/pmtransformer
baseline/Uni-MOF
**/*.log

# bak
**/*_bak

# compressed
**/*.tar.gz
**/*.zip

# ignore
**/*ignore*

# test
# **/test
!test/**/data
# ckpt
test/**/*.ckpt
# demo
test/demo/**/graphdata
test/demo/**/griddata
test/demo/**/griddata8
test/demo/**/total
test/demo/**/grid
test/demo/**/atomgrid
test/demo/**/vftopo.csv
test/demo/**/*filter*
test/demo/predict
# vis
test/vis/data/**
!test/vis/data/cif

# other
config.pretrain.yaml
