**/build
**/dist

# repo
/baseline/JMPpkg

# tmp file
**/spbnet.egg-info
**/.pytest_cache
**/.DS_Store
**/__pycache__
**/tmp
**/tmp.py
**/bak

# data
/demo
**/data
**/ckpt

# logs
**/*_logs
**/logs
**/pred
baseline/pmtransformer
baseline/Uni-MOF
**/*.log

# bak
**/*_bak

# compressed
**/*.tar.gz
**/*.zip
